@model XcellenceIT.Plugin.NopAcceleratePlus.Search.Models.GeneralSettingModel
@{
    //page title
    ViewBag.Title = T("XcellenceIT.Plugin.NopAcceleratePlus.Search.Title.GeneralSetting").Text;
    Layout = "_AdminLayout";
    Html.SetActiveMenuItemSystemName("XcellenceIT.Plugin.NopAcceleratePlus.Search.GeneralSetting");
}
@inject Nop.Core.IWebHelper webHelper
<link href="~/Plugins/NopAcceleratePlus.Search/Content/css/admin-search-configure.min.css" rel="stylesheet" />
<nop-antiforgery-token />

<form asp-controller="NopAcceleratePlusSearch" asp-action="GeneralSetting" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Plugins.NopAcceleratePlus.Search.Fields.NopAccelerateSearch") - @T("Plugins.NopAcceleratePlus.Search.Fields.GeneralSetting")
        </h1>
        <h1 class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </h1>
    </div>
    <div class="content-header clearfix">
        @await Component.InvokeAsync("StoreScopeConfiguration")
    </div>
    <div asp-validation-summary="All"></div>
    <div class="content">
        <div class="form-horizontal">
            <nop-tabs id="performanceconfiguration">
                <nop-tab asp-name="tab-performance" asp-title="@T("Plugins.NopAcceleratePlus.Search.tabperformance")" asp-default="true">@await Html.PartialAsync("~/Plugins/NopAcceleratePlus.Search/Views/Admin/_PerformanceGeneralSetting.cshtml", Model)</nop-tab>
                <nop-tab asp-name="tab-seo" asp-title="@T("Plugins.NopAcceleratePlus.Search.tabseo")">@await Html.PartialAsync("~/Plugins/NopAcceleratePlus.Search/Views/Admin/_SeoGeneralSetting.cshtml", Model)</nop-tab>
                <nop-tab asp-name="tab-selector" asp-title="@T("Plugins.NopAcceleratePlus.Search.tabselector")">@await Html.PartialAsync("~/Plugins/NopAcceleratePlus.Search/Views/Admin/_SelectorSettings.cshtml", Model)</nop-tab>
                <nop-tab asp-name="tab-shorting" asp-title="@T("Plugins.NopAcceleratePlus.Search.tabsorting")">@await Html.PartialAsync("~/Plugins/NopAcceleratePlus.Search/Views/Admin/_SortingGeneralSetting.cshtml", Model)</nop-tab>
            </nop-tabs>
        </div>
        @await Component.InvokeAsync("NopAcceleratePlusSearchVersion")
    </div>
</form>
